body {
    padding: 0px;
    margin: 0px;
    background-color: #ffe066;
    border-right: 1px solid #494949;
}
main {
    margin: 60px auto;
    margin-top: 130px;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 15px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer ul li a {
    text-align: center;
}
a {
    text-decoration: none;
    color: #b30000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

#sig-top {
    margin-top: 2em;
    line-height: 0em;
}
#sig-bottom{
    line-height: 0.6em;
}

footer {
    border-top: 1px solid;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

header {
    transition: 0.3s;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #494949;
    background-color: #696969;
    
}
#header-text{
    margin-top: 23px;
    margin-left: 100px;
}
#header-text a {
    color: black;
}
#header-text a:hover {
  text-decoration: none;
}

#menu-header {
    margin-top: 23px;
}
#hamburger-input, #leave-input {
    position: relative;
    visibility: hidden;
    top: -20px;
    left: 0px;
    margin-bottom: 0px;
}
#hamburger-menu {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 25px;
    transition: 0.1s;
    background: linear-gradient(
      to bottom, 
      #ffe066, #ffe066 20%, 
      #696969 20%, #696969 40%, 
      #ffe066 40%, #ffe066 60%, 
      #696969 60%, #696969 80%, 
      #ffe066 80%, #ffe066 100%
    );
}
#hamburger-menu:hover {
    background: linear-gradient(
      to bottom, 
      #b30000, #b30000 20%, 
      #696969 20%, #696969 40%, 
      #b30000 40%, #b30000 60%, 
      #696969 60%, #696969 80%, 
      #b30000 80%, #b30000 100%
    );
}
#hamburger-menu nav, #hamburger-menu div {
    cursor: default;
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #ffe066;
    transition: 0.3s;
    padding: 0px 20px;
    box-sizing: border-box;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  display: block;
  list-style-type: none;
  line-height: 5rem;
}

#hamburger-menu a {
  font-size: 2.5rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked ~ #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ #hamburger-menu .overlay{
    visibility: visible;
    opacity: 0.7;
}
#hamburger-input:checked + .page-header{
    padding-left: 150px;
}

.overlay{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

