<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		</head>
		<body>
			<header>
				<h1>Flannelgraph</h1>
				<div class="top">
					<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
				</div>
				<nav>
	    				<ul>
	        				<li><a href="/">Home</a></li>
		        			<li><a href="/about">About</a></li>
	        				<li><a href="/blog">Blog</a></li>
					</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/Flannelgraph">github.com/flannelgraph</a></li>
				</ul>
			</footer>
		</body>
	</html>
